apiVersion: v1
kind: ConfigMap
metadata:
  name: concurrent-config
data:
  config.yaml: |-
    server:
      dsn: {{ .Values.server.dsn }}
      redisAddr: {{ .Values.server.redisAddr }}
      memcachedAddr: {{ .Values.server.memcachedAddr }}
      traceEndpoint: "grafana-agent:4318"
      enableTrace: true
      captchaSitekey: {{ .Values.server.captchaSitekey }}
      captchaSecret: {{ .Values.server.captchaSecret }}

    concurrent:
      fqdn: {{ .Values.concurrent.fqdn }}
      registration: {{ .Values.concurrent.registration }}
      privatekey: {{ .Values.concurrent.privatekey }}

    profile:
      nickname: {{ .Values.profile.nickname }}
      description: {{ .Values.profile.description }}
      logo: {{ .Values.profile.logo }}
      wordmark: {{ .Values.profile.wordmark }}
      themeColor: {{ .Values.profile.themeColor | quote }}
      rules: {{ .Values.profile.rules | toYaml | indent 6 }}
      tosURL: {{ .Values.profile.tosURL }}
      maintainerName: {{ .Values.profile.maintainerName }}
      maintainerEmail: {{ .Values.profile.maintainerEmail }}

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway-config
data:
  gateway.yaml: |-
    services:
      - name: webui
        host: ccwebui
        port: 80
        path: /web
        preservePath: true
      - name: concurrent
        host: ccapi
        port: 8000
        path: /api/v1
        injectCors: true
      - name: activitypub
        host: ccactivitypub
        port: 8000
        path: /ap
        preservePath: true
        injectCors: true
      - name: webfinger
        host: ccactivitypub
        port: 8000
        path: /.well-known
        preservePath: true
{{- if (index .Values "url-summary" "enabled") }}
      - name: url-summary
        host: url-summary-lb
        port: {{ (index .Values "url-summary" "LB_LISTEN_PORT") }}
        path: /summary
{{- end }}
{{- if .Values.mediaserver.enabled }}
      - name: mediaserver
        host: mediaserver
        port: 8000
        path: /storage
{{- end}}
---

apiVersion: v1
kind: ConfigMap
metadata:
  name: activitypub-config
data:
  activitypub.yaml: |-
    proxy:
      privateKey: {{ .Values.activitypub.privatekey }}
      notificationStream: {{ .Values.activitypub.notificationStream }}

---
{{- if .Values.monitoring.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: observability-config
data:
  agent.yaml: |-
    server:
      log_level: debug

    metrics:
      configs:
        - name: default
          scrape_configs:
          - job_name: "concurrent"
            static_configs:
              - targets:
                - 'ccgateway:80'
                - 'ccapi:8000'
                - 'localhost:9187' # postgres-exporter
                - 'localhost:9121' # redis-exporter
                - 'localhost:9150' # memcached-exporter
                labels:
                  instance: {{ .Values.concurrent.fqdn | quote }}
          remote_write:
            - url: {{ .Values.observability.metrics.endpoint }}
              basic_auth:
                username: {{ .Values.observability.metrics.username }}
                password: {{ .Values.observability.metrics.password }}

    traces:
      configs:
      - name: default
        receivers:
          otlp:
            protocols:
              http:
                endpoint: 0.0.0.0:4318
        remote_write:
          - endpoint: {{ .Values.observability.traces.endpoint }}
            basic_auth:
              username: {{ .Values.observability.traces.username }}
              password: {{ .Values.observability.traces.password }}
        batch:
          timeout: 5s
          send_batch_size: 100
{{- end }}

