
server:
  dsn: "host=db user=postgres password=postgres dbname=concurrent port=5432 sslmode=disable"
  redisAddr: "redis:6379"
  memcachedAddr: "memcached:11211"
  captchaSitekey: "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
  captchaSecret: "6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"

concurrent:
  fqdn: example.tld
  registration: invite
  privatekey: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

mediaserver:
  enabled: false
  image: ghcr.io/totegamma/cc-media-server:main
  bucketName: YOUR_BUCKET_NAME
  accountId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  accessKeyId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  accessKeySecret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  publicBaseUrl: https://pub-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.r2.dev/
  quota: "1000000000"

activitypub:
  privatekey: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  notificationStream: xxxxxxxxxxxxxxxxxxxx@example.tld

ccgateway:
  image: ghcr.io/totegamma/ccgateway:master

ccapi:
  image: ghcr.io/totegamma/ccapi:master

ccactivitypub:
  image: ghcr.io/totegamma/ccworld-ap-bridge:latest

ccwebui:
  image: ghcr.io/totegamma/ccwebui:master

url-summary:
  enabled: true
  LB_LISTEN_PORT: 80
  APP_TARGET_PORT: 8080
  CORS: ""
  LB_TYPE: ClusterIP

observability:
  metrics:
    endpoint: ""
    password: ""
    username: ""
  logs:
    url: ""
  traces:
    endpoint: ""
    password: ""
    username: ""

profile:
  nickname: concurrent-domain
  description: domain description
  logo: ''
  wordmark: ''
  themeColor: "#20193b"
  rules: |
    - リスペクトを持って接しましょう
      Treat everyone with respect
    - スパムは禁止です
      No spamming
    - 攻撃的なプロフィール名・画像はやめましょう
      No offensive names and profile pictures
  tosURL: ''
  maintainerName: changeme
  maintainerEmail: changeme@example.com


backup:
  enabled: true
  cron: '* 20 * * *'
  s3key: 's3://examplebucket/'
  aws_access_key_id: ''
  aws_secret_access_key: ''
  aws_default_region: 'ap-northeast-1'

